# Python
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Generated Lambda packages
payment_lambda.zip
inventory_lambda.zip
notification_lambda.zip

# OS
.DS_Store

# Env files
.env    
